@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #219ebc;
  color: #023047;
  overflow-x: hidden;
}
.card {
  background-color: #ffb703;
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
  transform: translateX(400%);
  transition: transform 1s ease;
}
.card:nth-last-of-type(even) {
  transform: translateX(-400%);
}

.card.show {
  transform: translateX(0);
}

h1 {
  font-size: 50px;
}
